# Python Virtual Environments & Caches
venv/
nnunet_env/
env/
ENV/
__pycache__/
*.pyc

# Ignore user scans placed inside data_in, BUT preserve the folder via .gitkeep
data_in/*
!data_in/.gitkeep

# Ignore user scans placed inside fine-tuning directories
finetune_data/images/*
!finetune_data/images/.gitkeep

finetune_data/labels/*
!finetune_data/labels/.gitkeep

# Ignore intermediate nnU-Net preprocessed directories
nnUNet_raw/
nnUNet_preprocessed/
nnUNet_results/
temp_input_dir/

# Model Weights & Archives
# (Provided via GitHub Releases download link)
cp_inference_model/
*.zip
*.pth

# OS & IDE Specific Files
.DS_Store
Thumbs.db
.vscode/
.idea/